services:
  database:
    image: postgres:13.4
    environment:
      POSTGRES_DB: cloud_secure_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: ./backend  # <-- TRÈS IMPORTANT : On utilise le dossier local, pas l'image distante
    ports:
      - "8080:8080"
    depends_on:
      - database
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  db_data: # On définit le volume ici, sans 'restart' ni 'environment'